<!doctype html>
<html>
  <head>
    <meta charset=utf-8>
    <link rel="shortcut icon" href="/static/favicon.ico">
  {% block htmlhead %}
  <title>{% block title %}Home{% endblock %} | {{ config.AUTHOR }}</title>
    <link rel="stylesheet" href="/static/style.css" type="text/css">
  {% endblock %}
  </head>
  <body>
    <div class=container>
      <div class=header>
          <a href="/about">{{ config.AUTHOR }}</a>
      </div>
      <div class=navigation>
        <ul>
          <li><a href="/">blog</a>
          <li><a href="/tags">tags</a>
          <li><a href="/links">links</a>
          <li><a href="/about">about</a>
        </ul>
      </div>
      <div class=body>
        {% block body %}{% endblock %}
      </div>
      <div class=footer>
        <p>&copy; Copyright 2015 by 51ETL.
        <p>
          沪ICP备16029897号，
          Build with weblog.
        <p>
          Contact me via <a href="mailto:13585697921@163.com">mail</a>,
        <p>
        <!--<a>Subscribe</a> this blog.
        -->
      </div>
    </div>
  </body>
</html>
