{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
  {{ content|safe }}
  {% if pub_time %}
    <p class="page-date">Written on {{ format_date_weekday(pub_time) }}
  {% endif %}

  {% if tags %}
    <p class=page-tags>This entry was tagged
    {% for tag in tags %}
      {%- if not loop.first and not loop.last %}, {% endif -%}
      {%- if loop.last and not loop.first %} and {% endif %}
      <a href="/tag/{{ tag.id }}">{{ tag.name }}</a>
    {%- endfor %}
  {% endif %}

{% endblock %}
