<!DOCTYPE html>
<!--[if IE 7 ]>    <html class="ie7 oldie"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8 oldie"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html> <!--<![endif]-->

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <meta name="description" content="">
    <meta name="author" content="">
	<meta property="wb:webmaster" content="3caf5a5b94e6991e" />

	<link rel="shortcut icon" href="/static/blog/coolblue/images/chine.ico"/>

	<title> {{g.user.name}}的博客 | Blog About Coding & Programming </title>


	<link type="text/css" rel="stylesheet" href="/static/blog/coolblue/css/SyntaxHighlighter/shCoreEclipse.css"><link>

	<link type="text/css" rel="stylesheet" href="/static/blog/coolblue/css/bootstrap.min.css"><link>
	<link rel="stylesheet" type="text/css" media="screen" href="/static/blog/coolblue/css/coolblue.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="/static/blog/coolblue/css/chine.css" />

	<script>window.jQuery || document.write('<script src="/static/blog/coolblue/js/jquery-1.7.2.min.js"><\/script>')</script>
	<script src="/static/blog/coolblue/js/scrollToTop.js"></script>
	<script src="/static/blog/coolblue/js/inputFocusOrBlur.js"></script>
	<script src="/static/blog/coolblue/js/jquery.form.js"></script>
	<script src="/static/blog/coolblue/js/bootstrap-transition.js"></script>
	<script src="/static/blog/coolblue/js/bootstrap-tooltip.js"></script>
	<script src="/static/blog/coolblue/js/bootstrap-modal.js"></script>
	<script src="/static/blog/coolblue/js/subscribe.js"></script>

	<!--[if lt IE 9]>
	    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->


	<script language="JavaScript" src="/static/blog/coolblue/js/SyntaxHighlighter/shCore.js"></script>
	<script language="JavaScript" src="/static/blog/coolblue/js/SyntaxHighlighter/shAutoloader.js"></script>
	<script language="JavaScript" src="/static/blog/coolblue/js/loadSyntaxHighlighter.js"></script>
	<script language="JavaScript" src="/static/blog/coolblue/js/keyboardControl.js"></script>

</head>
<body id="top">

<!--header -->
<div id="header-wrap"><header>
{% include 'blog/header.html' %}
<!--/header-->
</header></div>


	<!-- content-wrap -->
	<div id="content-wrap">

	    <!-- content -->
	    <div id="content" class="clearfix">

			<!-- main -->
			<div id="main">

	{% for a in articles %}
	<article class="post">

	    <div class="primary">
	        <h2>
	        	<a href="/blog/article/{{a.id}}">{{a.title}}</a>
			</h2>
	        <p class="post-info"><span>位于分类</span> <a href="/blog/category/{{a.category.id}}">{{a.category.name}}</a></p>
            {{ (a.content|safe|html2text)[:300] }} ...

	        <p><a class="more" href="/blog/article/{{a.id}}">继续阅读整篇文章 &raquo;</a></p>

	    </div>

	    <aside>
		    <p class="dateinfo">{{ a.created_time|timestr0|safe }}</p>
	   	    <div class="post-meta">
	      	    <h4>文章信息</h4>
	         	<ul>
	               <li class="user"><a href="#" onclick="return false;">{{g.user.name}}</a></li>
	               <li class="time"><a href="#" onclick="return false;">{{a.created_time|timestr1}}</a></li>
	               <li class="permalink"><a href="/blog/article/{{a.id}}">持久连接</a></li>
	            </ul>
			</div>
	    </aside>

	</article>
    {% endfor %}


<div id="Pagination" class="pagination">
    {% for i in pagination %}
        {% if i==pid %}
        <span class="current">{{ i }}</span>
        {% else %}
	    <a href="/blog/page/{{ i }}" >{{ i }}</a>
        {% endif %}
    {% endfor %}
	<span>...</span>
	<a href="/blog/page/{{last_page}}" >末页 &raquo;</a>
</div>


<!-- /main -->
</div>

<!-- sidebar -->
<div id="sidebar">
{% include 'blog/sidebar.html' %}
<!-- /sidebar -->
</div>

	    <!-- content -->
		</div>

	<!-- /content-out -->
	</div>


		<!-- extra -->
<div id="extra-wrap"><div id="extra" class="clearfix">
{% include 'blog/extra.html' %}
<!-- /extra -->
</div></div>

<!-- footer -->
<footer>
{% include 'blog/footer.html' %}
<!-- /footer -->
</footer>

</body>
